---
apiVersion: kustomize.config.k8s.io/v1beta1
kind: Kustomization
namespace: staging
commonLabels:
  app.kubernetes.io/env: staging
resources:
  - ./podinfo/
  - ./../../../base/debug/
  - ./../../../base/istio-bookinfo/
