---
apiVersion: kubevirt.io/v1
kind: KubeVirt
metadata:
  name: kubevirt
  namespace: kubevirt
spec:
  workloads:
    nodePlacement:
      nodeSelector:
        kubernetes.io/os: linux
        node-purpose: kubevirt
  certificateRotateStrategy: {}
  configuration:
    network:
      # Bridge network interface on Pod network
      # is not compatible with istio & live migration
      # so we should disable it
      permitBridgeInterfaceOnPodNetwork: false
    migrations:
      parallelMigrationsPerCluster: 5
      parallelOutboundMigrationsPerNode: 2
      bandwidthPerMigration: 220Mi # 220MiB/s
      completionTimeoutPerGiB: 800
      progressTimeout: 150
      disableTLS: false
      nodeDrainTaintKey: "kubevirt.io/drain"
      allowAutoConverge: false
      allowPostCopy: false
      unsafeMigrationOverride: false
    developerConfiguration:
      # https://github.com/kubevirt/kubevirt/blob/main/pkg/virt-config/feature-gates.go#L26
      featureGates:
        - Snapshot
        - VMExport
        # required by windows
        ## persisting backend state files of VMs, such as the contents of the vTPM
        - VMPersistentState
        - HypervStrictCheck
        # https://kubevirt.io/user-guide/virtual_machines/dedicated_cpu_resources/
        # To use this feature, we have to set kubelet's cpu-manager policy to static
        - CPUManager
        - Sidecar
        # required to increase PVC's size
        # otherwise increase PVC's size will not be reflected in VM.
        - ExpandDisks
        # passthrough devices
        - HostDevices
        - HostDisk
        - VMLiveUpdateFeatures
        - LiveMigration
    vmStateStorageClass: longhorn
    vmRolloutStrategy: "LiveUpdate"
    permittedHostDevices:
      # https://kubevirt.io/user-guide/compute/host-devices/#exposing-usb-devices
      usb:
        # To get the vendor and product ID of the USB device,
        # run the following command on the host machine:
        #   lsusb -vvv | egrep -2 'Vendor|Product'
        - resourceName: kubevirt.io/usb-storage-unitek
          selectors:
            - vendor: "152d" # JMicron Technology Corp. / JMicron USA Technology Corp.
              product: "0567" # JMS567 SATA 6Gb/s bridge
  customizeComponents: {}
  imagePullPolicy: IfNotPresent
  workloadUpdateStrategy:
    # live migration is preferred
    # if live migration is not possible, evict the VM
    workloadUpdateMethods:
      - LiveMigrate
      - Evict
    batchEvictionSize: 10
    batchEvictionInterval: "1m"
