apiVersion: storage.k8s.io/v1
kind: StorageClass
metadata:
  name: local-path-critical
provisioner: rancher.io/local-path
parameters:
  nodePath: /var/lib/local-path-critical
  pathPattern: "{{ .PVC.Namespace }}/{{ .PVC.Name }}"
# Retain critical volumes after deletion
reclaimPolicy: Retain
volumeBindingMode: WaitForFirstConsumer
allowVolumeExpansion: true
